<systelab-login (login)="doLogin($event)" [companyLogo]="'assets/img/brand/werfen.png'"
                [applicationLogo]="'assets/img/brand/logo.png'"
                [background]="'assets/img/background/background.jpg'"
                [copyright]="'Copyright 2000-2018 Werfen'"
                [applicationName]="'Application Name'"
                [moduleName]="'Module'"
                [(userName)]="userName"
                [(password)]="password"
                [version]="'1.4. (build 2012)'"></systelab-login>