<systelab-dialog-header (close)="close()">{{title}}</systelab-dialog-header>
<div class="slab-flex-1 d-flex">

    <systelab-tabs class="slab-flex-1" (select)="doSelectTab($event)">
        <systelab-tab [title]="'General'" [id]="'Tab1'">
            <patient-form class="w-100 m-2" [patient]="patient"></patient-form>
        </systelab-tab>
        <systelab-tab *ngIf="isUpdate()" [title]="'Allergies'" [id]="'Tab2'" class="p-1">
            <patient-allergies-form #allergies class="slab-flex-1 d-flex border rounded" [patientId]="parameters.patientId"></patient-allergies-form>
        </systelab-tab>
    </systelab-tabs>

</div>
<systelab-dialog-bottom>
    <button *ngIf="selectedTab==='Tab2'" type="button" id="PatientMaintenanceOptionsButton" class="btn btn-outline-primary mr-1" (click)="doShowOptions()"><i
            class="fas fa-random mr-1"></i>{{'COMMON_OPTIONS' | translate | async}} </button>
    <button *ngIf="selectedTab==='Tab2'" type="button" id="PatientMaintenanceAddButton" class="btn btn-outline-primary" (click)="doAddAllergy()"><i class="far fa-plus-square mr-1"></i>{{'COMMON_ADD' | translate | async}}
    </button>
    <button *ngIf="selectedTab==='Tab1'" type="button" id="PatientSubmitButton" class="btn btn-outline-primary ml-auto" (click)="doPerformAction()"><i class="fas fa-download mr-1"></i>{{humanReadableAction}}</button>
</systelab-dialog-bottom>
