<div class="slab-flex-1 d-flex m-2 border border-rounded">
    <allergy-grid id="AllergyTable" #allergygrid class="slab-flex-1 position-relative" [menu]="getMenu()" (action)="doMenuAction($event)"
                  (clickRow)="doSelect($event)"></allergy-grid>
</div>

<div class="d-flex border-top">
    <div class="slab-flex-1 d-flex m-2">
        <button type="button" id="PatientMaintenanceOptionsButton" class="btn mr-1" (click)="allergygrid.showOptions()"><i
                class="fas fa-random mr-1"></i>{{'COMMON_OPTIONS' | translate | async}} </button>
        <button type="button" id="PatientMaintenanceAddButton" class="btn" (click)="doCreateAllergy()"><i class="far fa-plus-square mr-1"></i>{{'COMMON_ADD' | translate | async}}
        </button>
        <button type="button" id="PatientMaintenanceRefreshButton" class="btn ml-auto" (click)="allergygrid.refresh();"><i
                class="fas fa-sync-alt mr-1"></i>{{'COMMON_REFRESH' | translate | async}} </button>
    </div>
</div>
