<systelab-dialog-header (close)="close()">{{'ADD_ALLERGY' | translate | async}}</systelab-dialog-header>
<div class="slab-flex-1">

    <form class="p-2">
        <div class="row mt-1">
            <label class="col-sm-3 col-form-label text-truncate">{{'COMMON_ALLERGY' | translate | async}}</label>
            <div class="col-sm-9">
                <allergy-combobox [(id)]="allergyId" [(description)]="allergyName" [isDisabled]="isUpdate()"></allergy-combobox>
            </div>
        </div>
        <div class="row mt-1">
            <label  class="col-sm-3 col-form-label text-truncate">{{'COMMON_ASSERTED_DATE' | translate | async}}</label>
            <div class="col-sm-9">
                <systelab-datepicker [(currentDate)]="assertedDate"></systelab-datepicker>
            </div>
        </div>

        <div class="row mt-1">
            <label  class="col-sm-3 col-form-label text-truncate">{{'COMMON_LAST_OCCURRENCE_DATE' | translate | async}}</label>
            <div class="col-sm-9">
                <systelab-datepicker [(currentDate)]="lastOccurrenceDate"></systelab-datepicker>
            </div>
        </div>
        <div class="row mt-1">
            <label  class="col-sm-3 col-form-label text-truncate">{{'COMMON_NOTES' | translate | async}}</label>
            <div class="col-sm-9">
                <textarea name="symptoms" [(ngModel)]="notes" id="PatientAllergyNotes" class="slab-textarea w-100 slab-textarea-no-resize"></textarea>
            </div>
        </div>
    </form>

</div>
<systelab-dialog-bottom>

    <button type="button" id="PatientSubmitButton" class="btn ml-auto" (click)="doPerformAction()">
        <i class="fas fa-download mr-1"></i>{{'COMMON_CREATE' | translate | async}}
    </button>
</systelab-dialog-bottom>