<systelab-dialog-header (close)="close()">{{title}}</systelab-dialog-header>
<div class="slab-flex-1 slab-overflow-container container-fluid">

    <form class="p-2">

        <div class="form-group row text-right">
            <div class="col-sm-12">
                <systelab-switch id="switch1" name="enabled" [(isChecked)]="active"></systelab-switch>
            </div>
        </div>

        <div class="row mt-1">
            <label for="surname" class="col-sm-4 col-form-label text-truncate">{{'COMMON_SURNAME' | translate | async}}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="patient.surname" id="surname" name="surname" placeholder="{{'COMMON_SURNAME' | translate | async}}">
            </div>
        </div>

        <div class="row mt-1">
            <label for="name" class="col-sm-4 col-form-label text-truncate">{{'COMMON_NAME' | translate | async}}</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" [(ngModel)]="patient.name" id="name" name="name" placeholder="{{'COMMON_NAME' | translate | async}}">
            </div>
            <label for="email" class="col-sm-2 col-form-label text-truncate">{{'COMMON_MAIL' | translate | async}}</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" [(ngModel)]="patient.email" id="email" name="email" placeholder="email@sample.com">
            </div>
        </div>
        <div class="row mt-1">
            <label for="medicalnumber" class="col-sm-4 col-form-label text-truncate">{{'COMMON_MEDICALNUMBER' | translate | async}}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="patient.medicalNumber" id="medicalnumber" name="medicalnumber" readonly>
            </div>
        </div>
        <label class="slab-form-title">{{'COMMON_ADDRESS' | translate | async}}</label>

        <div class="row mt-1">
            <label for="street" class="col-sm-4 col-form-label text-truncate">{{'COMMON_STREET' | translate | async}}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="patient.address.street" id="street" name="street" placeholder="{{'COMMON_STREET' | translate | async}}">
            </div>
        </div>
        <div class="row mt-1">
            <label for="city" class="col-sm-4 col-form-label text-truncate">{{'COMMON_CITY' | translate | async}}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="patient.address.city" id="city" name="city" placeholder="{{'COMMON_CITY' | translate | async}}">
            </div>
        </div>
        <div class="row mt-1">
            <label for="zip" class="col-sm-4 col-form-label text-truncate">{{'COMMON_ZIP' | translate | async}}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="patient.address.zip" id="zip" name="zip" placeholder="{{'COMMON_ZIP' | translate | async}}">
            </div>
        </div>
        <div class="row mt-1">
            <label for="coordinates" class="col-sm-4 col-form-label text-truncate">{{'COMMON_COORDINATES' | translate | async}}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="patient.address.coordinates" id="coordinates" name="coordinates" placeholder="{{'COMMON_COORDINATES' | translate | async}}">
            </div>
        </div>
    </form>

</div>
<systelab-dialog-bottom>
    <button type="button" class="btn ml-auto" (click)="doPerformAction()">{{humanReadableAction}}</button>
</systelab-dialog-bottom>