<systelab-dialog-header (close)="close()">{{title}}</systelab-dialog-header>
<div class="slab-flex-1 slab-overflow-container container-fluid">

    <form class="p-2">

        <div class="form-group row text-right"> <!-- Full Name -->
            <div class="col-sm-12">
                <systelab-switch id="switch1" name="enabled" [(isChecked)]="check2"></systelab-switch>
            </div>
        </div>

        <div class="row mt-1"> <!-- Full Name -->
            <label for="full_name_id" class="col-sm-2 col-form-label text-truncate">Surname</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="patient.surname" id="surname" name="surname"
                       placeholder="Surname">
            </div>
        </div>

        <div class="row mt-1">
            <label for="street1_id" class="col-sm-2 col-form-label text-truncate">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" [(ngModel)]="patient.name" id="name" name="name"
                       placeholder="Name">
            </div>
            <label for="street1_id" class="col-sm-2 col-form-label text-truncate">Email</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" [(ngModel)]="patient.email" id="email" name="email"
                       placeholder="email@sample.com">
            </div>
        </div>
        <label class="slab-form-title">Address</label>

        <div class="row mt-1"> <!-- Full Name -->
            <label for="full_name_id" class="col-sm-2 col-form-label text-truncate">Street</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="patient.address.street" id="street"
                       name="street" placeholder="street">
            </div>
        </div>
        <div class="row mt-1"> <!-- Full Name -->
            <label for="full_name_id" class="col-sm-2 col-form-label text-truncate">City</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="patient.address.city" id="city" name="city"
                       placeholder="city">
            </div>
        </div>
        <div class="row mt-1"> <!-- Full Name -->
            <label for="full_name_id" class="col-sm-2 col-form-label text-truncate">ZIP</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="patient.address.zip" id="zip" name="zip"
                       placeholder="zip">
            </div>
        </div>
        <div class="row mt-1"> <!-- Full Name -->
            <label for="full_name_id" class="col-sm-2 col-form-label text-truncate">Coordinates</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="patient.address.coordinates" id="coordinates"
                       name="coordinates" placeholder="coordinates">
            </div>
        </div>
    </form>

</div>
<systelab-dialog-bottom>
    <button type="button" class="btn btn-sm ml-auto" (click)="performAction()">
        {{humanReadableAction}}
    </button>
</systelab-dialog-bottom>