<systelab-dialog-header (close)="close()">{{title}}</systelab-dialog-header>
<div class="slab-flex-1 slab-overflow-container container-fluid">

    <form class="p-2">

        <div class="form-group row text-right">
            <div class="col-sm-12">
                <systelab-switch id="AllergyEnableSwitch" name="enabled" [(isChecked)]="active"></systelab-switch>
            </div>
        </div>

        <div class="row mt-1">
            <label for="AllergyNameInput" id="AllergyNameLabel" class="col-sm-2 col-form-label text-truncate">{{'COMMON_NAME' | translate | async}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="allergy.name" id="AllergyNameInput" name="name" placeholder="{{'COMMON_NAME' | translate | async}}">
            </div>
        </div>

        <div class="row mt-1">
            <label for="AllergySignsInput" id="AllergySignsLabel" class="col-sm-2 col-form-label text-truncate">{{'COMMON_SIGNS' | translate | async}}</label>
            <div class="col-sm-10">
                <textarea name="signs" [(ngModel)]="allergy.signs" id="AllergySignsInput" class="slab-textarea w-100 slab-textarea-no-resize"></textarea>
            </div>
        </div>

        <div class="row mt-1">
            <label for="AllergySymptomsInput" id="AllergySymptomsLabel" class="col-sm-2 col-form-label text-truncate">{{'COMMON_SYMPTOMS' | translate | async}}</label>
            <div class="col-sm-10">
                <textarea name="symptoms" [(ngModel)]="allergy.symptoms" id="AllergySymptomsInput" class="slab-textarea w-100 slab-textarea-no-resize"></textarea>
            </div>
        </div>
    </form>

</div>
<systelab-dialog-bottom>
    <button type="button" id="AllergySubmitButton" class="btn ml-auto" (click)="doPerformAction()"><i class="fas fa-download mr-1"></i>{{humanReadableAction}}</button>
</systelab-dialog-bottom>