<systelab-dialog-header (close)="close()">{{title}}</systelab-dialog-header>
<div class="slab-flex-1 d-flex flex-column p-2 ">
    <patient-grid #patientgrid class="slab-flex-1 position-relative" [menu]="getMenu()"
                  (action)="doMenuAction($event)"
                  (clickRow)="doSelect($event)"></patient-grid>

</div>
<systelab-dialog-bottom>
    <button type="button" class="btn mr-1" (click)="patientgrid.showOptions()"><i class="icon-times-circle mr-1"></i>Options
    </button>
    <button type="button" class="btn" (click)="createPatient();"><i class="icon-times-circle mr-1"></i>Add</button>
    <button type="button" class="btn ml-auto" (click)="patientgrid.refresh();"><i
            class="icon-times-circle mr-1"></i>Refresh
    </button>
</systelab-dialog-bottom>
